@CHARSET "UTF-8";
@import url(reset.css);

body{
	background-color:rgba(0,0,0,0.4);
}

.access_div{
	position:absolute;left:30%;top:25%;
	width:700px;
	height:450px;
	margin:0 auto;
	border-radius:30px;
	background-color:#fff;
	text-align:left;
	padding:20px 0;
}

.access_div p{
	position:absolute;right:20px;top:15px;
}

.access_div .access_inner{
	width:80%;
	margin:0 auto;
}


.access_div .access_inner .text ul{
	height:300px;
	width:100%;
	overflow: auto;
	font-size:12px;
	text-align:left;
}

.access_div .access_inner section{
	height:300px;
	padding:20px;
	border:1px solid #ccc;
}

.access_div .access_inner section .text span{
	font-weight:bold;
	font-size:15px;
}