@CHARSET "UTF-8";

@charset "utf-8";
/* font */
/*@font-face {
  	font-family: 'NotoSansLT';
  	src: url('webfont/NotoSansKR-Light-Alphabetic/NotoSansKR-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),  
  	url('webfont/NotoSansKR-Light-Alphabetic.otf')  format('opentype'),
	url('webfont/NotoSansKR-Light-Alphabetic/NotoSansKR-Light-Alphabetic.woff') format('woff'), 
	url('webfont/NotoSansKR-Light-Alphabetic.ttf')  format('truetype'), 
	url('webfont/NotoSansKR-Light-Alphabetic.svg#NotoSansKR-Light-Alphabetic') format('svg');

  	font-weight: normal;
  	font-style: normal;
}


@font-face {
  	font-family: 'NotoSansRE';
  	src: url('webfont/NotoSansKR-Regular-Alphabetic/NotoSansKR-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),  
  	url('webfont/NotoSansKR-Regular-Alphabetic/NotoSansKR-Regular-Alphabetic.otf')  format('opentype'),
	url('webfont/NotoSansKR-Regular-Alphabetic/NotoSansKR-Regular-Alphabetic.woff') format('woff'), 
	url('webfont/NotoSansKR-Regular-Alphabetic/NotoSansKR-Regular-Alphabetic.ttf')  format('truetype'), 
	url('webfont/NotoSansKR-Regular-Alphabetic/NotoSansKR-Regular-Alphabetic.svg#NotoSansKR-Regular-Alphabetic') format('svg');
  	font-weight: normal;
  	font-style: normal;
}


@font-face {
  	font-family: 'HelveticaLt';
  	src: url('webfont/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), 
   	url('webfont/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
	url('webfont/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff') format('woff'), 
	url('webfont/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), 
	url('webfont/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  	font-weight: normal; font-style: normal; letter-spacing:30;
}


@font-face {
  	font-family: 'HelveticaMd';
 	src: url('webfont/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),  
  	url('webfont/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.otf')  format('opentype'),
	url('webfont/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.woff') format('woff'), 
	url('webfont/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.ttf')  format('truetype'), 
	url('webfont/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  	font-weight: normal;
  	font-style: normal;
}


@font-face {
  	font-family: 'HelveticaBd';
  	src: url('webfont/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),  
  	url('webfont/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.otf')  format('opentype'),
	url('webfont/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.woff') format('woff'), 
	url('webfont/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.ttf')  format('truetype'), 
	url('webfont/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  	font-weight: normal;
  	font-style: normal;
}
*/
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

/* reset css */
/*
Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
http://cssreset.com
*/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
}

/* CSS Document */
html, body { width:100%; height:100%; }
html, body, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, p, a, span, form, input {
	padding : 0;
	margin : 0;
}

body { font-family: "Noto Sans KR";}

img { border:none; vertical-align:top; }
ul li, ol li { list-style:none; }
a { text-decoration:none; color: #333;}





/* Header Start */
.headerWrap {
	position: fixed;
	width: 100%;
	height: 140px;
	z-index: 10000;
	top: 0;
}

/* Login Start*/

.loginWrap {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #000;
}

#login {
	width: 1024px;
	height: 40px;
	margin: 0 auto;
}

.loginWrap ul {
	width: 400px;
	height: 40px;
	float: right;
	line-height: 40px;
}

.loginWrap ul li {
	float: right;
	margin-left: 40px;
}

.loginWrap ul li:first-child {
	margin-right: 20px;
}

.loginWrap ul li:last-child {
	margin-left: 0;
}

.loginWrap ul li a {
	color: #FFF;
	font-size: 16px;
}

.loginWrap ul li:last-child a {
	color: #D8D96D;
}

/* Login end */

/* Navigation Start */

.topNav {
	position:fixed;
	width: 100%;
	height: 100px;
	background-color: #FFF;
}

.navWrap {
	width: 1024px;
	height: 40px;
	margin: 0 auto;
}

.greatkorea_logo {
	width: 200px;
	height: 40px;
	float: left;
	margin: 30px 0 0 10px;
}

.greatkorea_logo a img {
	width: 200px;
	height: 40px;
}

.navList {
	width: 650px;
	height: 100px;
	float: right;
}

.nav {
	width: 650px;
	height: 56px;
}

.nav dl {
	float: right;
	margin: 22px 0 0 30px;
}

.nav dl:last-child {
	margin-left: 0;
}

.nav dl dt {
	height: 36px;
	font-size: 24px;
	text-align: center;
}


.nav dl dt a:hover {
	border-bottom: 1px solid #333;
}

.nav dl dd {
	height: 20px;
	font-size: 12px;
	text-align: center;
}

/* Navigation end */
/* Header end */


/* contents Start */
/* contents Start */

.bodyWrap {
	width: 100%;
}

#middleWrapper {
  
   width: 100%;
   
   background-color: #000;
}

.pageTitle {
   
   width: 100%;
   height: 170px;
   margin: 140px auto 0;
   padding-bottom: 15px;
   border-bottom: 1px solid #000;
}

.titleSection {
   width:1024px;
   height: 200px;
   margin: 0 auto;
   text-align:center;
}

.titleWrap {
   width: 1024px;
   height:170px;
   margin: 0 auto;
}

.titleWrap h2 {
   height: 70px;
   line-height: 70px;
   font-size: 60px;
   padding: 0px;
   text-align: center;
   color: #333333;
}

.titleWrap h3 {
   height: 70px;
   line-height: 70px;
   font-size: 60px;
   padding: 0px;
   text-align: center;
   color: #666666;
}

.contentSection {
   width: 100%;
   margin: 0 auto ;
}

.contentWrap {
   width: 1024px;

   margin: 0 auto;
   text-align: center;
   color: #FFF;
}

/* contents end */

/* footer start */

#footer{
	width:100%;
	height:140px;
	margin:0 auto;
	background-color: #fff;
}

#footer .footer_inner{
	margin:0 auto;
	width:1024px;
}

#footer .footer_inner address{
	float:left;
	width:1024px;
	height:30px;
	margin-top:20px;
	font-style:normal;
}

#footer .footer_inner p:nth-of-type(1){
	float:left;
	font-weight:bold;
	margin-top:20px;
}

#footer .footer_inner p{
	float:left;
}

#footer .footer_inner ul{
	float:right;
}

#footer .footer_inner ul li:nth-of-type(3){
	font-weight:bold;
}

#footer .footer_inner ul li{
	display:inline;
	margin-right:10px;
}

/* footer end */

