<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GREAT KOREA</title>
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/visitor.css" />
<script type="text/javascript" src="../js/visitor.js"></script>
</head>
<body onload="return ran_col()">
   <div class="bodyWrap">
      <!-- Header Start -->
      <div class="headerWrap">

         <!-- Login Start -->
         <div class="loginWrap">
            <div id="login">
               <ul>
                  <li><a href="#">고객지원</a></li>
                  <li><a href="#">회원가입</a></li>
                  <li><a href="#">로그인</a></li>
               </ul>
            </div>
         </div>

         <!-- Login end -->
         <!-- Navigation Start -->
         <div class="topNav">
            <div class="navWrap">
               <div class="greatkorea_logo">
                  <a href="http://www.greatkorea.co"> <img
                     src="../img/greatkorea_logo.png" alt="그레이트 코리아 로고" />
                  </a>
               </div>
               <div class="navList">
                  <div class="nav">
                     <dl>
                        <dt>
                           <a href="#">방명록</a>
                        </dt>
                        <dd>
                           <a href="#">VISITORS</a>
                        </dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">파트너</a>
                        </dt>
                        <dd>
                           <a href="#">PARTNER</a>
                        </dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">언론보도</a>
                        </dt>
                        <dd>
                           <a href="#">MEDIA</a>
                        <dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">인사말</a>
                        </dt>
                        <dd>
                           <a href="#">GREETING</a>
                        </dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">진출분야</a>
                        </dt>
                        <dd>
                           <a href="#">DIVISION</a>
                        <dd>
                     </dl>

                     <dl>
                        <dt>
                           <a href="#">회사소개</a>
                        </dt>
                        <dd>
                           <a href="#">INTRODUCTION</a>
                        </dd>
                     </dl>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Navigation end -->
      <!-- Header end -->
      
      <!-- contents Start -->
      <div id="middleWrapper">
         <div class="pageTitle">
            <div class="titleSection">
               <div class="titleWrap">
                  <h2>방명록</h2>
                  <h3>VISITORS</h3>
               </div>
            </div>
         </div>
         <div class="contentSection">
            <div class="contentWrap">
            <!-- write Start -->
               <div class="write">
               		<form action="#" method="post">
				    	<fieldset>
				    		<legend class="blind">글쓰기</legend>
				    		<label for="write" class="blind">글쓰기</label>
				    			<div class="textarea">
				            		<textarea id="write" class="" name="write" cols="80" rows="5" placeholder="내용을 입력해 주세요."></textarea>
				            		<input type="submit" value="글쓰기" class="register" />
				            		<p class="txt_check"><span>0</span>/300</p>
				         		</div>
				      	</fieldset>
				    </form>
               </div>
            <!-- write end -->
            <!-- color Start -->
               <div class="color">
               
	               <div class="srch_form">
					   <form action="#" method="post">
					      <fieldset>
					         <legend class="blind">검색창</legend>
					         <label for="sbox" class="blind">검색어 입력</label>
					         <input type="search" id="sbox" class="sbox" placeholder=" 아이디" />
					         <input type="submit" value="검색" class="search" />
					      </fieldset>
					   </form>
					</div>
					
					<div id="yellow">
					   <p>Apple is an American multinational technology company headquartered  computer, the iPod portable media player, the Apple Watch smartwatch, and the Apple TV digital media player. Apple's consumer software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites. Its online services include the iTunes Store, the iOS App Store and Mac App Store, Apple Music, and iCloud.</p>
					      <ul>
					         <li>kimleooo123 &nbsp;&nbsp;&nbsp;| &nbsp;</li>
					         <li>2016-11-09</li>
					      </ul>
					</div>
					
					<div id="pink">
					   <p>Apple is an American mulelops, and sells consumer electronics, computer software, and online services. Its hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal computer, the iPod portable media player, the Apple Watch smartwatch, and the Apple TV digital media player. Apple's consumer software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites. Its online services include the iTunes Store, the iOS App Store and Mac App Store, Apple Music, and iCloud.</p>
					      <ul>
					         <li>홍길동님 &nbsp;&nbsp;&nbsp;| &nbsp;<span><a href="#">삭제</a></span></li>
					         <li>2016-11-09</li>
					      </ul>
					</div>
					
					<div id="blue">
					   <p>Apple is an the iPad tablet c the Apple TV digital media player. Apple's consumer software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites. Its online services include the iTunes Store, the iOS App Store and Mac App Store, Apple Music, and iCloud.</p>
					      <ul>
					         <li>kimleooo3 &nbsp;&nbsp;&nbsp;| &nbsp;</li>
					         <li>2016-11-09</li>
					      </ul>
					</div>
					
				</div>
				<!-- color end -->
				 
				<div class="page">
				   <ul>
				      <li><a href="#">◀ <span>이전</span></a></li>
				      <li><span>2</span> / 20</li>
				      <li><a href="#"><span>다음</span> ▶ </a></li>
				   </ul>
				</div>
				
				<!-- footer start -->
				<div id="footer">
					<div class="footer_inner">
						<p>실전화이트해커 100,000명 양성 생태계 프로젝트</p>
						<address>경기 성남시 분당구 대왕판교로 645번길 12 창조경제혁신센터4F 융합보안지원센터C3호</address>
						<p>Copyright ⓒ GreatKorea All Rights Reserved.</p>
						<ul>
							<li><a href="#">이용약관</a></li>
							<li>|</li>
							<li><a href="#">개인정보취급방침</a></li>
							<li>|</li>
							<li><a href="#">고객센터</a></li>
						</ul>
					</div>
				</div>
				<!-- footer end -->
				
            </div>
         </div>
      </div>
      <!-- contents end -->
      
     
   </div>
   
</body>
</html>