<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GREAT KOREA</title>
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/find_id.css" />
</head>
<body>
   <div class="bodyWrap">
      <!-- Header Start -->
      <div class="headerWrap">

         <!-- Login Start -->
         <div class="loginWrap">
            <div id="login">
               <ul>
                  <li><a href="#">고객지원</a></li>
                  <li><a href="#">회원가입</a></li>
                  <li><a href="#">로그인</a></li>
               </ul>
            </div>
         </div>

         <!-- Login end -->
         <!-- Navigation Start -->
         <div class="topNav">
            <div class="navWrap">
               <div class="greatkorea_logo">
                  <a href="http://www.greatkorea.co"> <img
                     src="../img/greatkorea_logo.png" alt="그레이트 코리아 로고" />
                  </a>
               </div>
               <div class="navList">
                  <div class="nav">
                     <dl>
                        <dt>
                           <a href="#">방명록</a>
                        </dt>
                        <dd>
                           <a href="#">VISITORS</a>
                        </dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">파트너</a>
                        </dt>
                        <dd>
                           <a href="#">PARTNER</a>
                        </dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">언론보도</a>
                        </dt>
                        <dd>
                           <a href="#">MEDIA</a>
                        <dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">인사말</a>
                        </dt>
                        <dd>
                           <a href="#">GREETING</a>
                        </dd>
                     </dl>
                     <dl>
                        <dt>
                           <a href="#">진출분야</a>
                        </dt>
                        <dd>
                           <a href="#">DIVISION</a>
                        <dd>
                     </dl>

                     <dl>
                        <dt>
                           <a href="#">회사소개</a>
                        </dt>
                        <dd>
                           <a href="#">INTRODUCTION</a>
                        </dd>
                     </dl>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Navigation end -->
      <!-- Header end -->
      
      <!-- contents Start -->
      <div id="middleWrapper">
         <div class="pageTitle">
            <div class="titleSection">
               <div class="titleWrap">
                  <h2>아이디 찾기</h2>
                  <h3>FIND-ID</h3>
               </div>
            </div>
         </div>
         <div class="contentSection">
            <div class="contentWrap">
            	<div class="form_join">
            		<form action="#" method="post">
                     <fieldset>
                        <legend style="display:none;">회원정보입력</legend>            
                        <ul>
                           <li>
                              <input id="Nm" maxlength="20" name="Nm" placeholder="이름" title="이름입력" value="" type="text" class="input_box">
                              <span class="fc_red" style="display:none;">이름을 입력해 주세요.</span>
                           </li>
                           <li>
                              <div class="email-area">
                                 <p>
                                    <input id="Email_F" class="email-id" maxlength="50" name="Email_F" placeholder="이메일" value="" type="text">
                                    <span class="select-box-title">@</span>
                                    <span class="selectbox email">
                                       <label for="ddlEmailDomain" style="display:none;">선택</label>
                                       <select id="ddlEmailDomain" name="ddlEmailDomain">
                                          <option value=""> 선택</option>
                                          <option value="direct">직접입력</option>
                                          <option value="naver.com">naver.com</option>
                                          <option value="gmail.com">gmail.com</option>
                                          <option value="nate.com">nate.com</option>
                                          <option value="yahoo.co.kr">yahoo.co.kr</option>
                                          <option value="hanmail.net">hanmail.net</option>
                                          <option value="daum.net">daum.net</option>
                                          <option value="dreamwiz.com">dreamwiz.com</option>
                                          <option value="lycos.co.kr">lycos.co.kr</option>
                                          <option value="empal.com">empal.com</option>
                                          <option value="korea.com">korea.com</option>
                                          <option value="paran.com">paran.com</option>
                                          <option value="freechal.com">freechal.com</option>
                                          <option value="hitel.com">hitel.com</option>
                                          <option value="hanmir.com">hanmir.com</option>
                                          <option value="hotmail.com">hotmail.com</option>
                                       </select>
                                    </span>
                                 </p>
                                 <p>
                                    <input id="Email_Domain" class="email-direct" maxlength="100" name="Email_Domain" placeholder="직접입력" value="" type="text">
                                    <span class="fc_red" style="display:none;">중복된 이메일 입니다.</span>
                                 </p>
                              </div>
                           </li>
                        </ul>
				         <div class="btn_center">
				            <button type="button" class="btn1">아이디 찾기</button>
				            <button type="button" class="btn2">취소</button>
				         </div>
				      </fieldset>
				   </form>
            	</div>
				
            </div>
         </div>
      </div>
      <!-- contents end -->
   </div>
   
    <!-- footer start -->
	<div id="footer">
		<div class="footer_inner">
			<p>실전화이트해커 100,000명 양성 생태계 프로젝트</p>
			<address>경기 성남시 분당구 대왕판교로 645번길 12 창조경제혁신센터4F 융합보안지원센터C3호</address>
			<p>Copyright ⓒ GreatKorea All Rights Reserved.</p>
			<ul>
				<li><a href="#">이용약관</a></li>
				<li>|</li>
				<li><a href="#">개인정보취급방침</a></li>
				<li>|</li>
				<li><a href="#">고객센터</a></li>
			</ul>
		</div>
	</div>
	<!-- footer end -->
		
</body>
</html>