<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GREAT KOREA</title>
<link rel="stylesheet" href="../css/login.css" />
</head>
<body>
	<div class="login_div">
		<p class="close"><a href="#"><img src="/greatkorea_html_v1/img/close_btn.png"alt="close" /></a></p>
		<div class="login_inner">
			<h1>로그인</h1>
			 <ul>
				<li>
					<input id="UserID" maxlength="15" name="UserID" placeholder="아이디 " title="아이디 입력" value="" type="text" class="input_box">
	       		</li>
	       		<li>
	       			<input id="UserPwd" name="UserPwdPwd" placeholder="비밀번호" maxlength="20" type="text" class="input_box">
	       		</li>
			 </ul>
			 <button type="button" class="btn">로그인</button>
			 <ul>
			 	<li><a href="#">회원가입</a></li>
			 	<li>|</li>
			 	<li><a href="#">아이디 찾기</a></li>
			 	<li>|</li>
			 	<li><a href="#">비밀번호 찾기</a></li>
			 </ul>
		 </div>
	</div>
</body>
</html>